<h2> Olá {{ name }}, </h2>
<p>
  Parece que você solicitou uma recuperação de sua sneha, caso queira proseguir clique no link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl}}" target="_blank">Recuperar senah </a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail.
</p>
<p>
    <strong>Equipe M2corp</strong>
</p>
